![](http://moveit.ros.org/wordpress/wp-content/uploads/2014/01/moveit-title-small.png)

The MoveIt! Motion Planning Framework

This is the new EXPERIMENTAL unified repository for MoveIt! code. See the [Migration Notes](https://github.com/davetcoleman/moveit_merge/) to learn about the repo consolidation.

For more information about MoveIt! see [moveit.ros.org](moveit.ros.org).

Travis - Continuous Integration |
------------------------------- |
[![Build Status](https://travis-ci.org/ros-planning/moveit.svg?branch=__DISTRO__-devel)](https://travis-ci.org/ros-planning/moveit) |

ROS Buildfarm | Jade Trusty Devel Source | AMD64 Jade Trusty Debian
------------- | ------------------- | -------------------
moveit_core | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_core__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_core__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_core__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_core__ubuntu_trusty_amd64__binary/)
moveit_ros | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros__ubuntu_trusty_amd64__binary/)
moveit_ros_benchmarks | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_benchmarks__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_benchmarks__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_benchmarks__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_benchmarks__ubuntu_trusty_amd64__binary/)
moveit_ros_benchmarks_gui | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_benchmarks_gui__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_benchmarks_gui__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_benchmarks_gui__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_benchmarks_gui__ubuntu_trusty_amd64__binary/)
moveit_ros_manipulation | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_manipulation__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_manipulation__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_manipulation__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_manipulation__ubuntu_trusty_amd64__binary/)
moveit_ros_move_group | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_move_group__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_move_group__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_move_group__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_move_group__ubuntu_trusty_amd64__binary/)
moveit_ros_perception | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_perception__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_perception__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_perception__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_perception__ubuntu_trusty_amd64__binary/)
moveit_ros_planning | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_planning__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_planning__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_planning__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_planning__ubuntu_trusty_amd64__binary/)
moveit_ros_planning_interface | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_planning_interface__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_planning_interface__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_planning_interface__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_planning_interface__ubuntu_trusty_amd64__binary/)
moveit_ros_robot_interaction | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_robot_interaction__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_robot_interaction__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_robot_interaction__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_robot_interaction__ubuntu_trusty_amd64__binary/)
moveit_ros_visualization | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_visualization__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_visualization__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_visualization__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_visualization__ubuntu_trusty_amd64__binary/)
moveit_ros_warehouse | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ros_warehouse__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ros_warehouse__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ros_warehouse__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_warehouse__ubuntu_trusty_amd64__binary/)
moveit_planners | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_planners__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_planners__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_planners__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_planners__ubuntu_trusty_amd64__binary/)
moveit_setup_assistant | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_setup_assistant__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_setup_assistant__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_setup_assistant__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_setup_assistant__ubuntu_trusty_amd64__binary/)
moveit_plugins | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_plugins__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_plugins__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_plugins__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_plugins__ubuntu_trusty_amd64__binary/)
moveit_ikfast | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_ikfast__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_ikfast__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_ikfast__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ikfast__ubuntu_trusty_amd64__binary/)
moveit_commander | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jsrc_uT__moveit_commander__ubuntu_trusty__source)](http://build.ros.org/view/Jsrc_uT/job/Jsrc_uT__moveit_commander__ubuntu_trusty__source/) | [![Build Status](http://build.ros.org/buildStatus/icon?job=Jbin_uT64__moveit_commander__ubuntu_trusty_amd64__binary)](http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_commander__ubuntu_trusty_amd64__binary/)

## Install

### Ubuntu Debian

> Note: this package has not been released yet

    sudo apt-get install ros-__DISTRO__-moveit

### Build from Source

Prerequisites: [ROS __DISTRO_CAPS__](http://wiki.ros.org/__DISTRO__/Installation), [wstool](http://wiki.ros.org/wstool), and [catkin_tools](https://catkin-tools.readthedocs.io/en/latest/):

    sudo apt-get install python-wstool python-catkin-tools

Optionally create a new workspace:

    mkdir -p ws_moveit/src
    cd ws_moveit/src
    wstool init .

The __DISTRO_CAPS__ MoveIt! branch currently requires using the ROS ``shadow-fixed`` repositories:

    sudo echo 'deb http://packages.ros.org/ros-shadow-fixed/ubuntu xenial main' > /etc/apt/sources.list.d/ros-latest.list
    sudo apt-get update

FCL is currently not properly released into __DISTRO_CAPS__, instead use this temporary debian:

    wget https://raw.githubusercontent.com/ros-planning/moveit/__DISTRO__-devel/.travis.before_script
    source .travis.before_script # Temporary install method for FCL before it is released properly

Pull down required repositories and build:

    wstool merge https://raw.githubusercontent.com/ros-planning/moveit/__DISTRO__-devel/moveit.rosinstall
    wstool update
    rosdep install --from-paths . --ignore-src --rosdistro __DISTRO__
    cd ..
    catkin config --extend /opt/ros/__DISTRO__ --install --cmake-args -DCMAKE_BUILD_TYPE=Release
    catkin build

## Run or Build with Docker in a Container

A Docker container is available for testing and running in [moveit_docker](https://github.com/ros-planning/moveit_docker). For example:

    docker run -it moveit/moveit_docker:moveit-__DISTRO__-source

## Get Involved

See the [Contributing](http://moveit.ros.org/documentation/contributing/) page.
